@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	--primary: #1ea896;
	--secondary: #ff715b;
	--tertiary: #523f38;
	--dark: #4c5454;
	--light: #ffffff;
}
* {
	font-family: "Poppins", sans-serif;
}
.title-heading {
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
}
.subtitle-heading {
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
}
.body-text {
	font-weight: 300;
	font-style: normal;
	font-size: 13px;
}
.body-text-regular {
	font-weight: 500;
	font-style: normal;
	font-size: 13px;
}
.label-text {
	font-size: 13px;
	font-weight: 600;
	font-style: normal;
}

.input-shadow {
	box-shadow: #523f387a 1.95px 2.5px 0px;
}
.card-shadow {
	box-shadow: #523f387a 3px 4px 0px;
}
.card-shadow-primary {
	box-shadow: #157569 3px 4px 0px;
}

.shadow-generic {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.cilinder-shadow {
	box-shadow: #b24f3f 0px 4px 0px;
}
.numbers-shadow {
	text-shadow: rgba(64, 64, 64, 0.5) 4px 4px 3px;
}
.mobile_menu_backdrop {
	backdrop-filter: blur(2px);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}
.mobile_menu_backdrop.open {
	visibility: visible;
	opacity: 1;
}

.slider-container {
	width: 300px;
	margin: 20px;
}

.slider-values {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.slider {
	position: relative;
	width: 100%;
}

input[type="range"] {
	position: absolute;
	width: 100%;
	pointer-events: none;
	appearance: none;
	background: transparent;
}

.thumb {
	pointer-events: all;
}

.thumb::-webkit-slider-thumb {
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: #007bff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-track {
	position: absolute;
	height: 6px;
	background-color: #ddd;
	width: 100%;
	z-index: 1;
}

.slider-range {
	position: absolute;
	height: 6px;
	background-color: #007bff;
	z-index: 2;
}

.layout-with-header {
	display: grid;
	grid-template-rows: 5% 1fr;
	grid-gap: 20px;
	height: 100%;
}
.layout-no-header {
	height: 100%;
}

.leaderboard-container {
	display: grid;
	height: 100%;
}

.active-step {
	animation: pulse 2s infinite;
}
.active-quest {
	animation: quest 2s infinite;
}
.translate-x-16 {
	--translate-x: 4rem;
}

.translate-x-24 {
	--translate-x: 6rem;
}

@keyframes pulse {
	0% {
		transform: translate(var(--translate-x, 0)) scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 113, 91, 0.7), #b24f3f 0px 4px 0px;
	}

	70% {
		transform: translate(var(--translate-x, 0)) scale(1);
		box-shadow: 0 0 0 30px rgba(255, 157, 142, 0), #b24f3f 0px 4px 0px;
	}

	100% {
		transform: translate(var(--translate-x, 0)) scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 113, 91, 0), #b24f3f 0px 4px 0px;
	}
}

@keyframes quest {
	0% {
		box-shadow: 0 0 0 0 rgba(248, 248, 248, 0.7);
	}

	70% {
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
