@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	--primary: #1ea896;
	--secondary: #ff715b;
	--tertiary: #523f38;
	--dark: #4c5454;
	--light: #ffffff;
}
* {
	font-family: "Poppins", sans-serif;
}
.body-text {
	font-weight: 300;
	font-style: normal;
}
.label-text {
	font-weight: 600;
	font-style: normal;
}
.subtitle-heading {
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
}
.title-heading {
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
}

.input-shadow {
	box-shadow: #523f387a 1.95px 2.5px 0px;
}


.mobile_menu_backdrop {
	backdrop-filter: blur(2px);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}
.mobile_menu_backdrop.open {
	visibility: visible;
	opacity: 1;
}
