@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	--primary: #1ea896;
	--secondary: #ff715b;
	--tertiary: #523f38;
	--dark: #4c5454;
	--light: #ffffff;
}
* {
	font-family: "Poppins", sans-serif;
}
.body-text {
	font-weight: 300;
	font-style: normal;
}
.label-text {
	font-weight: 600;
	font-style: normal;
}
.subtitle-heading {
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
}
.title-heading {
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
}

.input-shadow {
	box-shadow: #523f387a 1.95px 2.5px 0px;
}
.card-shadow {
	box-shadow: #523f387a 3px 4px 0px;
}
.cilinder-shadow {
	box-shadow: #B24F3F 0px 8px 0px;
}
.numbers-shadow {
	text-shadow: rgba(64, 64, 64, 0.5) 4px 4px 3px;
}
.mobile_menu_backdrop {
	backdrop-filter: blur(2px);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}
.mobile_menu_backdrop.open {
	visibility: visible;
	opacity: 1;
}

.slider-container {
	width: 300px;
	margin: 20px;
}

.slider-values {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.slider {
	position: relative;
	width: 100%;
}

input[type="range"] {
	position: absolute;
	width: 100%;
	pointer-events: none;
	appearance: none;
	background: transparent;
}

.thumb {
	pointer-events: all;
}

.thumb::-webkit-slider-thumb {
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: #007bff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-track {
	position: absolute;
	height: 6px;
	background-color: #ddd;
	width: 100%;
	z-index: 1;
}

.slider-range {
	position: absolute;
	height: 6px;
	background-color: #007bff;
	z-index: 2;
}
